<meta charset="utf-8">
<title></title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="../public/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<link rel="stylesheet" type="text/css" href="../public/css/custom.css">

<script src="../public/js/requirements.js"></script>

<script type="text/javascript">
    window.$ = window.jQuery = require('jquery');
</script>

<script src="../public/js/lib/bootstrap.bundle.min.js"></script>
<script src="../public/js/feather.min.js"></script>
