<nav class="navbar navbar-expand-lg navbar-dark bg-dark container navbar-rounded shadow">
  <a class="navbar-brand text-success" href="#">WordPress APK Bot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-success circle-round btn-sm" data-toggle="modal" data-target="#settingsModal"> <span data-feather="settings" style="width:20px"></span> </button>
    </form>
  </div>
</nav>
